
:root{
    --rosa:rgb(203, 137, 167);
    --weiss:white;
    --schatten:rgb(112, 100, 112);
}
body{
    background-color: rgba(220, 202, 181, 0.914);
}
#bilder {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 2fr));
    gap: 0em;
    margin-right:1%;

  }
  #bilder > figcaption {
      grid-column: 1 / -1;
    }
    figcaption{
      text-align: center;
      font-size: 1.2em;
      letter-spacing: 0.35em;
    }
    p {
        color:black;
    }
    .mainNav{
        height: 3em;
        width: 18em;
        background: var(--rosa);
        padding-top: 0.4em;
        padding-left: 0.3em;
        margin-top: 0.8em;
        
        box-shadow: 0.3em 0.3em var(--schatten);
        overflow: hidden;
        cursor:grab;
    }
.tagesablauf {
        height: 20em;
        width: 30em;
        background: var(--rosa);
        padding-top: 0.4em;
        padding-left: 0.3em;
        margin-top: 0.8em;
        box-shadow: 0.3em 0.3em var(--schatten);
        overflow: hidden;
    margin-left:25%;
    cursor:grab; }
 .orientierung {
            height: 5em;
            width: 30em;
            background: var(--rosa);
            padding-top: 0.4em;
            padding-left: 0.3em;
            margin-top: 0.8em;
            margin-left: 25%;
            box-shadow: 0.3em 0.3em var(--schatten);
            overflow: hidden;
            cursor:grab; 
            font-size: large;
            font-weight: 500;
font-size: large;
font-weight: 500;}  

    ul{
        background:rgb(238, 238, 241);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 7.5em;
            width: 29em;
        margin-left:25%;}        
